.contact-container {
  max-width: 750px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 1.5rem;
  position: relative;
  padding: 3.5rem 4rem;
  background-color: var(--white);
}

.fields-dark {
  background-color: var(--black-100);
  color: white;
  transition: 0.3s ease-in-out;
  transform: translate(2px);
}
/* .........FORM SECTION */
.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  
  position: relative;
  z-index: 5;
  min-height: fit-content;
}

.steps-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.step-btn {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--white-100);
  border-radius: 50%;
  color: var(--white-200);
  font-size: 1.8rem;
  font-weight: 500;
}
.active {
  background: var(--gradient);
  color: var(--white);
}

/* .aside-wrapper.cards-bg-dark:before{
    background-color: var(--black-200);
   
}
.form-wrapper.cards-bg-dark:before{
    background-color: var(--black-200);
   
} */
.steps-header-text {
  margin-top: 3.5rem;
  margin-left: 5px;
}
.step-header-title {
  font-size: clamp(2.5rem, 8vw, 3.5rem);
  color: var(--black-100);
}
.step-header-parag {
  max-width: 420px;
  width: 100%;
  margin-top: 1rem;
}
.error-badge {
  display: flex;
  align-items: center;
  max-width: 380px;
  width: 100%;
  position: absolute;
  right: 5rem;
  top: 5rem;
  z-index: 10;
}
.error-text {
  font-size: 1.6rem;
}
