.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}
.nav-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.logo {
  width: clamp(5rem,10vw,8.2rem);
  height: auto;
}
.links-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 4rem;
  height: 5.6rem;
  position: relative;
  z-index: 5;
  background: var(--gradient);
  border-radius: 3.2rem;
}
.links-wrapper:before {
  content: "";
  position: absolute;
  background: var(--white-100);
  z-index: -1;
  left: 1px;
  right: 1px;
  bottom: 1px;
  top: 1px;
  border-radius: 3.2rem;
}
.nav-item {
  width: fit-content;
  position: relative;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--black-200);
}
.nav-item.current::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: var(--gradient);
}
.sign-up {
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  padding: 0 3rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--white);
  border-radius: 3.2rem;
  gap: 1rem;
  position: relative;
  z-index: 5;
}

.sign-up:before {
  content: "";
  position: absolute;
  background: var(--white-100);
  z-index: -1;
  left: 1px;
  right: 1px;
  bottom: 1px;
  top: 1px;
  border-radius: 3.2rem;
  scale: 0;
}
.toggle-btn{
    display: none;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #06051575;
    z-index: 5;
    display: none;
    backdrop-filter: blur(2px);
}
/*......ACTIVE STYLES................................  */
.sign-up:hover::before {
  cursor: pointer;
  scale: 1;
  transition: .3s ease-in-out;
}
.sign-up:hover {
  color: var(--black-200);
  background-color: inherit;
}
.nav-item:hover {
  color: var(--blue);
  cursor: pointer;
}
