.step3-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.step-3-service-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    margin: 3rem auto 0 auto;
}
.service-option{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white-300);
    border-radius: 1rem;
    padding: 2rem 1rem;
}
.service-name{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-200);
    margin-top: 1rem;
}
.features{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 2rem;

}
.feature{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--black-200);
    font-size: 1.4rem;
}
.check-icon{
    color: var(--blue);
}
.price{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: clamp(2rem,8vw,3rem);
    font-weight: 600;
    margin-top: 1rem;
    color: var(--black-100);

}
.price-unit{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white-300);
}
.billing-wrapper{
    max-width: 285px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-100);
    margin-top: 4rem;
    height: 4.8rem;
    padding: 0 1.5rem;
    border-radius: 3.2rem;
    align-self: center;
}
.billing-btn {
    max-width: 11.1rem;
    width: 100%;
    height: 3.6rem;
    border-radius: 3.2rem;
    color: var(--white-300);
  }
.monthly {
    background-color: var(--black-300);
    transition: 0.3s ease-in-out;
    transform: translateX(-1rem);
    color: white;
  }
  .yearly {
    background-color: var(--black-300);
    transition: 0.3s ease-in-out;
    transform: translateX(1rem);
    color: var(--white);
  }

  .icon-dark{
    color: rgb(140, 151, 216);
  }
  .billing-btn:hover{
    color: var(--blue);
  }