.step5-wrapper {
    max-width: 750px;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  padding: 5rem 4rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.1);

}
.step5-icon {
  width: 8rem;
  height: auto;
}
.step5-title{
    font-size: clamp(2rem,8vw,3.5rem);
    margin-top: 1.5rem;
    color: var(--black-200);
}
.step5-parag{
  max-width: 550px;
    margin-top: 1rem;
    width: 100%;
}
.reset-btn{
    margin-top: 4rem;
    background: var(--gradient);
    color: var(--white);
    border-radius: 2.8rem;
    width: fit-content;
    height: 4.6rem;
    padding: 0 3rem;
    font-size: 1.6rem;
    font-weight: 600;
}
