.outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/images/light-bg.png");
  background-position: top center;

  background-size: cover;
  background-repeat: no-repeat;

}

.inner-container {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  padding-right:3.5rem;
  gap: 4rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--white-300);
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 0.6rem;
  background: none;
  cursor: pointer;
}
fieldset{
  border: none;
}
/* ONLY COMMON DARK MODE STYLES...... */
.outer-bg-dark{
  background-image: url("./assets/images/dark-bg.png");
  transition: .3s ease-in-out;
}
.steps-bg-dark{
  transition: .3s ease-in-out;
  background-color: var(--black-400)!important;
  box-shadow: 0 0 2rem 1rem #0a4f7d4f;
  color: var(--white-200);
  border-color: inherit!important;
}
.cards-bg-dark{
  background-color: var(--black-200)!important;
  transition: .3s ease-in-out;
  color: var(--white);
 
}

.text-dark{
  color: var(--white)!important;
  opacity: .9;
  transition: .3s ease-in-out;
}
.medium-text-dark{
color: var(--white-200)!important;
}

.icon-wrapper-dark{
  background-color: var(--black-400)!important;
}

