@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  /* Light Mode */
  --white:#fff;
  --white-100:#E6E9F0;
  --white-200:#B5B7C5; /* icons bg & text - dark mode */
  --white-300:#69697C; /* fields bg */
  --white-400:#2F323E; /* fields bg */
  --blue:#706aebd4;
  --red:#e36c6c;
  --gradient:linear-gradient(to right, #8c52ff, #5ce1e6fe);
  --gradient2:linear-gradient(to left, #5DE0E6, #004AAD);

  /* Dark Mode */
  --black-100:#25282E; /*Main bg,fields and theme */
  --black-200:#021D2F; /*cards bg */
  --black-300:#0b0b0d;
  --black-400:#09304a;
  --dark-gradient:linear-gradient(to right, #8c52ff96, #5ce1e687);


  
}
*,::after,::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}
html {
  font-size: 10px;
}
body {
  font-family: "Inter", serif;
  width: 100%;
  overflow-x: hidden;

}
@media (width <= 1110px) {
  .outer-container{
    background: var(--white);
  }
  .inner-container{
    flex-direction: column;
    padding-right: 0;
    gap: 0;
  }
  .outer-bg-dark{
    background: var(--black-400);
  }
  .aside-wrapper{
    max-width: 100%;
    width: 100%;
    min-height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2.5rem 5rem 2.5rem;
    gap:2rem;
    background: url("./assets/images/light-bg.png");
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 290% 250%;
    
  }
  
  .aside-dark{
    background-image: url("./assets/images/dark-bg.png");
    background-repeat: no-repeat;
    background-position:bottom left;
    background-size: 260% 250%;
  }
  .logo,.theme-wrapper,.aside-text-wrapper {
    position: relative;
    bottom: 0;
    top: 0;
    margin-left: 0;

  }
  
  .aside-text-wrapper{
    text-align: center;
    max-width:none;
    width: fit-content;
    margin-top: 3rem;
    align-items: center;

  }
  .theme-wrapper {
    background: var(--gradient);
  }
  
}
@media (max-width:760px) {
  .contact-container {
    padding: 0;
    margin-top: 0;
  }
  .contact-wrapper {
    border-radius: 0;
  }
  
/* ..........STEP 1,2,3 STYLES.............. */
.step-form-wrapper,.step-2-service-wrapper,.step-3-service-wrapper {
  grid-template-columns: 1fr;
}
.last-field,.last-item  {
  grid-column: span 1;
}

/* ..........STEP 3 STYLES.............. */
.service-option {
  align-items: center;
  text-align: center;
}
.features{
  width: fit-content;
  margin: 2rem auto 0 auto;
  gap: .6rem;

}
.step5-wrapper{
  border-radius: 0;
}
.alert{
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* flex-wrap: wrap; */
}

}
